body{
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Open Sans';
    background-color: #970043;
}
p::first-letter{
    font-size: 200%;
    color: black;
    font-weight: bold;
}
#contenedorpadre{
    display: flex;
}
#encabezado{
    background-color: #ffd100;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    padding: 1px;
}
#footer{
    background-color: #ffd100;
    text-align: center;
    flex-wrap: wrap;
}
#aside{
    padding: 10px;
    background-color:#970043;

}