/*Esta es la hoja de estilo
del ejeicio 1 CSS Flexbos del 
modelo de examen*/
body{
font-family: 'Trebuchet MS', 'Geneva', sans-serif;
margin: 0;
background: url('../image2/bg.jpg') no-repeat center center fixed;
background-size: cover;/*Para que cubra toda la pantalla*/
}
p::first-letter{ /* Agrandar primera letra de p치rrafo*/
    font-size: 1rem;
    font-weight: bold;
    color: #4c3803;
}
article, aside, footer, header{
    padding: 1rem; /*Busca 1rem*/
    box-sizing: border-box; /*https://www.w3schools.com/css/css3_box-sizing.asp*/
}
header{/* Estilo del encbezado */
    background-color: #b28306;
    color: #4c3803;
    text-align: center;
    border-radius: 20px;
    border-bottom: 1px solid;
    order: 1;
}
aside{/*Estilo lateral*/
    background-color: #b28306;
    color: #4c3803;
    border-radius: 20px;
}
nav{/*Barra de navegacion (menu para amigos)*/
    display: flex;
    order: 2;
    background-color: #ebcd7c;
    border-radius: 20px;
    padding: 5px 0px;
}
nav a{ /* Estilo para enlaces dentor de la barra de navegaci칩n */
    flex:auto;
    text-align: center;
    background-color: #4c3803;
    color: #b28306;
    margin: 0 5px;
    border-radius: 20px;
    text-decoration: none;
    padding: 5px 0px;
}
nav a:hover{ /* Para poner blanco al seleccionar el menu */
    outline: 1px solid white;
    color: white;
    text-decoration: none;
}
a{
    color: gray;
    font-weight: bold;
    text-decoration: none;
}
/* A partir de aqui vamos a cambiar la disposici칩n de los elementos cuando
el tama침o de la pantalla sea superior a 480px */
@media screen and (min-width: 480px){
    body{
        display: flex;
        flex-direction: column;
        max-width: 75rem;
        margin: auto;
    }
    main{
        display: flex;
        order: 2;
        flex-wrap: wrap;
        box-sizing: border-box;
        border-bottom: 0.5rem solid;
    }
    nav{
        order: 3;
    }
    header{
        order: 1;
    }
    article{
        flex: 75%;
    }
    aside{
        flex: 25%;
    }
    footer{
        order: 4;
    }
}